<md-input-container floatPlaceholder="auto">
  <input mdInput id="fName" name="componentProperty" type="text" required
         placeholder="">
</md-input-container>
<br>
<md-input-container floatPlaceholder="auto">
  <input mdInput id="lName" name="componentProperty" type="text" required
         placeholder="">
</md-input-container>
<br>
<md-input-container floatPlaceholder="auto">
  <input mdInput id="phone" name="componentProperty" type="text" required
         placeholder="">
</md-input-container>
<br>
<md-input-container floatPlaceholder="auto">
  <input mdInput id="address" name="componentProperty" type="text" required
         placeholder="">
</md-input-container>
<br>
<md-input-container floatPlaceholder="auto">
  <input mdInput id="city" name="componentProperty" type="text" required
         placeholder="">
</md-input-container>


