<md-sidenav-container >
  <md-toolbar class="mat-elevation-z5" color="primary">

  <button md-icon-button (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
    Toolbar
  </md-toolbar>
  <md-sidenav #sidenav mode="push">
    <div class="sideNav">
      <div> <md-icon style="width: 80px; height: 80px; font-size: 80px">person pin</md-icon></div>
      <div class="sideNavContent">Kalle Pakarinen</div>
      <div class="sideNavContent">cuttu85@gmail.com</div>
  </div>
    <div>
    <button (click)="logOut()">Logout
    </button>
    </div>
  </md-sidenav>
  <div class="ca-app-container">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
