<div fxLayout="column" fxLayoutAlign="center center">
  <md-card fxLayout="row" fxLayoutAlign="center center">
    <h2>Contacts</h2>
  </md-card>
  <app-contact-list
    [contacts]="contacts"
    (contactDelete)="deleteContact($event)"
    (contactUpdate)="contactUpdate($event)"
    (showMap)="showOnMap($event)">
  </app-contact-list>
  <button md-icon-button (click)="saveContact()">
    <md-icon>add</md-icon>
  </button>
</div>

<!--
<app-list-item [contacts]="contacts" (select)="contactSelected($event)"></app-list-item>

<div *ngIf="selectedContact">
  Selected: {{selectedContact.id}}
</div>
-->
