<div fxLayout="column" fxLayoutAlign="center center">
<md-card>
  <!--  <img src="" class="md-card-image" alt="image caption">-->
  <md-card-content>
    <md-input-container>
      <input mdInput  required placeholder="First name">
    </md-input-container>
    <md-input-container>
      <input mdInput  required placeholder="Password">
    </md-input-container>
  </md-card-content>

  <md-card-actions>
    <button (click)="navigateContact()">
    <md-icon>rowing</md-icon>
    </button>
  </md-card-actions>
</md-card>
</div>
