#iconAccount {
  width: 80px;
  height: 80px;
  font-size: 60px;
  color: #ffffff;
}

md-card {
  min-width: 400px;
  margin: 10px 0;
  color: white;
}

#mapButton{
  color: red;
  float:right;
}

.itemHeaderDiv{
  background-color: cornflowerblue;
  margin-bottom: 0;
  padding: 12px;
}
 .footerButton{
   color:black;
 }
