<h1 md-dialog-title>New contact</h1>
<div md-dialog-content>
  <md-input-container floatPlaceholder="auto">
    <input mdInput ng-model="contact.firstName" type="text" required
           placeholder="Firstname">
  </md-input-container>
  <br>
  <md-input-container floatPlaceholder="auto">
    <input mdInput  ng-model="contact.lastName" type="text" required
           placeholder="Lastname">
  </md-input-container>
  <br>
  <md-input-container floatPlaceholder="auto">
    <input mdInput ng-model="contact.phone" type="text" required
           placeholder="Phone">
  </md-input-container>
  <br>
  <md-input-container floatPlaceholder="auto">
    <input mdInput ng-model="contact.address" type="text" required
           placeholder="Address">
  </md-input-container>
  <br>
  <md-input-container floatPlaceholder="auto">
    <input mdInput ng-model="contact.city" type="text" required
           placeholder="City">
  </md-input-container>

</div>
<div md-dialog-actions>
  <button md-button (click)="saveContact()">Add</button>
  <button md-button (click)="dialogRef.close('Option 2')">No Add</button>
</div>
